.nav{
    list-style: none;
    color: black;
    background: greenyellow;
    /* float: left; */
    width: 100%;
}

.nav > li {
    display: inline-block;
    margin: 20px;
    font-weight: bold;
    
}

.nav > li:hover{
    background-color: aqua;
}